html {
    color: #999;
    text-align: center;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #444;
}

canvas {
    background-image: url(img/cobble.png);
    background-size: 50px 50px;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    border: 1px solid white;
}

