html {
    color: #999;
    text-align: center;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #444;
}

canvas {
    background-color: grey;
    border: 1px solid white;
}

